/* ########## Copernicus ########## */
/* ========== PreAmp Css ========== */
/* ---------- VARIABLES ---------- */
/* ----- colors ----- */
/* ----- widths ----- */
/* ----- sizes ----- */
/* ========== INCLUDES ========== */
/* ---------- FONTS ---------- */
/* ----- font families ----- */
/* ========== STYLES ========== */
/* ---------- STYLES - MAIN ---------- */
/* ----- main ----- */
html {
  font-size: 62.5%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

body {
  width: 940px;
  margin: 0 auto;
  font-size: 14px; }

/* ----- headings ----- */
h1 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 30px; }

h2 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 26px; }

h3 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 22px; }

h4 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px; }

h5 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px; }

h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px; }

/* ----- content ----- */
p {
  line-height: 1.5;
  margin-bottom: 10px; }

/* ---------- STYLES - HEADER ---------- */
#logo {
  width: 100px;
  height: 100px;
  background: url("../images/sprites.png") 0 0;
  display: inline-block;
  text-indent: -9999px; }

/* ---------- STYLES - FOOTER ---------- */
footer {
  clear: both; }

/* ========== MEDIA QUERIES ========== */
@media only print {
  /* ---------- MEDIA - PRINT ---------- */ }
@media only screen and (min-device-width : 1440px) {
  /* ---------- MEDIA - BIG ---------- */
  html {
    font-size: 78.125%; } }
@media only screen and (max-width : 1024px) {
  /* ---------- MEDIA - SMALL ---------- */
  html {
    font-size: 46.875%; } }
@media only screen and (max-width : 768px) {
  /* ---------- MEDIA - FLEX ---------- */
  body {
    width: 96%;
    padding: 2%; } }
@media only screen and (max-device-width : 480px) {
  /* ---------- MEDIA - MOBILE ---------- */
  body {
    min-width: 320px; } }
