/* ---------- VARIABLES ---------- */

/* ----- colors ----- */

$grey			: #888;
$grey-dark		: darken($grey, 10%);
$grey-xdark		: darken($grey, 20%);
$grey-xxdark	: darken($grey, 30%);
$grey-light		: lighten($grey, 10%);
$grey-xlight	: lighten($grey, 20%);
$grey-xxlight	: lighten($grey, 30%);

/* ----- widths ----- */

$width-full 	: 940px;
$width-half		: 460px;
$width-small	: 300px;
$width-big		: 620px;
$width-space	: 20px;

/* ----- sizes ----- */

$size			: 16px;
$size-small		: 14px;
$size-xsmall	: 12px;
$size-big		: 18px;
$size-xbig		: 22px;
$size-xxbig		: 26px;
$size-xxxbig	: 30px;
