/* @group meta box */

.cp_meta_box .title {
	width: 150px;
	display: inline-block;
	vertical-align: top;
	line-height: 24px;
}

.cp_meta_box ul {
	display: inline-block;
	vertical-align: top;
	line-height: 24px;
	margin: 0;
	padding: 0;
}

.cp_meta_box li {
	margin: 0 0 0 3px;
	padding: 0;
}

.wp-editor-wrap {
	display: inline-block
}

/* @end */
