/* @group experimental */

#the-list tr th {
	width: 50px;
}

.widefat .check-column {
	width: 50px;
}


#the-list tr th .sort-handler {
	width: 20px;
	height: 100%;
	display: inline-block;
	cursor: url(https://mail.google.com/mail/u/0/images/2/openhand.cur), default;
}

#the-list tr:hover th .sort-handler {
	background: url(https://ssl.gstatic.com/ui/v1/icons/mail/grippy.png) no-repeat 12px 0;
}
#the-list tr {
	background: #F9F9F9;
}
#the-list tr.alternate {
	background: #FCFCFC
}

tfoot .check-column input[type=checkbox],
thead .check-column input[type=checkbox] {
	margin-left: 28px;
}



/* @end */

/* @group meta box */

.cp_meta_box .title {
	width: 150px;
	display: inline-block;
	vertical-align: top;
	line-height: 24px;
}

.cp_meta_box ul {
	display: inline-block;
	vertical-align: top;
	line-height: 24px;
	margin: 0;
	padding: 0;
}

.cp_meta_box li {
	margin: 0 0 0 3px;
	padding: 0;
}


/* @end */
